/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --accent-color: #ff0070;
  --global-font-family: "IBM Plex mono";
  --global-text-font-size: 18px;
  --global-padding: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
  --decorated-zone-color: #ff0070;
  --decorated-zone-padding: 10px;
  --rec-color: #ff0070;
  --rec-block-start: 10px;
  --rec-inline-end: 19px;
  --head-color: #db00ff;
  --head-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --header-line-height: 0.83em;
  --title-text-color: #000028;
  --text-line-height: 1.4625rem;
  --menu-font-color: #ff0070;
  --button-color: #ff0070;
  --button-color-hover: #ff007066;
  --margin-zone: clamp(2.5rem, 1.3073rem + 5.0891vw, 3.75rem);
  --content-text-color: #f1b2ce;
  --content-head-color: #ff0070;
  --article-head-color: #000028;
  --footer-color: #db00ff;
  --footer-shadow-color: #ff0070;
}

@media (width >= 768px) {
  :root {
    --decorated-zone-padding: 20px;
    --rec-block-start: 20px;
    --rec-inline-end: 29px;
    --head-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}
